.phantom-modal {
  background: #1f1f1f;
  background-color: none !important;
  color: white;
  min-width: 400px;
  border-radius: 12px;
}

@media (max-width: 640px) {
  .phantom-modal {
    min-width: 90vw;
  }
}

